{% extends 'layout.njk' %}

{% block content %}
  <h1>Categories</h1>
  <h2>Income</h2>

  <div class="container">
    <form class="row g-3" action="/categincome" method="post">
      <div class="mb-3">
        <label for="inputIncomeCategory" class="form-label">Category</label>
        <input type="text" class="form-control" id="inputIncomeCategory" name="inputIncomeCategory" placeholder="Type here the new category" required>
      </div>
      <div class="mb-3">
        <label for="inputIncomeCategoryDescription" class="form-label">Description</label>
        <textarea class="form-control" id="inputIncomeCategoryDescription" name="inputIncomeCategoryDescription" rows="3" required></textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-secondary">Submit</button>
      </div>
    </form>
  </div>

  <div class="container" id="js-generate-income-category-table">
    
  </div>
{% endblock %}