<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <title>{{title}}</title>
  </head>
  <body>
    <img src="/images/error.jpg" alt="error image" style="display: block; margin-left: auto; margin-right: auto;">
    <h3 style="color: red; text-align: center; margin-top: 3%;">{{errorMessage}}</h3>
    <a href={{refLink}} style="text-decoration: none"><button class="btn btn-danger" style="display: block; margin-left: auto; margin-right: auto; margin-top: 5%;">Back to page</button></a>
  </body>
</html>