{% extends 'layout.njk' %}

{% block content %}
  <h1>Welcome to credit/debt control website</h1>
  <p align="justify">Sometimes it is hard to keep track of all our creditors and debtors. This website is here to help.
  Categories of credit and debt can be created. The hope is that such categories can help you to better understand why you have such credits and debts. <strong>Before you start inserting credits and debts, you have to create the appropriate categories.</strong>
  Once the categories are created, you can use the other pages to create credits and debts, payments that you make or receive, and, also, check your payment history (for both, credits and debts).</p>
  <p>I hope it can be, somehow, helpful.</p>
  <p>Sincerely,</p>
  <p>Paulo Santos</p>
{% endblock %}