html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title= title
  block styles
    style
      include ../node_modules/bootstrap/dist/css/bootstrap.min.css
  block scripts

body
  header
    nav.navbar 
      div.dropdown-books
        button.dropdown-btn-books(type="button")
          span Books
          span.arrow
        ul.dropdown-content-books
          li
            a.btn(role="button" href="") Income
          li
            a(href="") Expenses
          li 
            a(href="") Investments 
          li 
            a(href="") Extraordinary payments
          li 
            a(href="") Debts
          li 
            a(href="") Credits
      
      div
        button.btn(type="button") Plan
        a(href="") Financial goals
        a(href="") Budget
      
      div
        button.btn(type=("button")) Cashflow
    
  main
    block content
  footer

