{% extends 'layout.njk' %}

{% block content %}
  
  <h2>Register new credits</h2>
  <form class="row g-3" method="post" action="/newcredits"> 
    <div class="col-md-2">
      <label for="inputCategory" class="form-label">Category</label>
      <select id="inputCategory" name="inputCategory" class="form-select">
        <option selected>Choose...</option>
        {% for l in lines %}
          <option>{{l.category}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputDateCreated" class="form-label">Date</label>
      <input type="date" class="form-control" id="inputDateCreated" name="inputDateCreated" required>
    </div>
    <div class="col-md-2">
      <label for="inputAmount" class="form-label">Amount</label>
      <input type="number" min="0.00" step="0.01" class="form-control" id="inputAmount" name="inputAmount" required>
    </div>
    <div class="col-md-2">
      <label for="inputDebtor" class="form-label">Debtor's name</label>
      <input type="text" class="form-control" id="inputDebtor" name="inputDebtor" required>
    </div>
    <div class="col-md-4">
      <label for="inputDescription" class="form-label">Description</label>
      <input type="text" class="form-control" id="inputDescription" name="inputDescription" required>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-success">Register</button>
    </div>
  </form>

  <h5 style="margin-top: 2em; margin-bottom: 1em;">CREDITS TABLE</h5>

  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Category</th>
        <th scope="col" class="text-center">Date</th>
        <th scope="col" class="text-center">Initial Amount</th>
        <th scope="col" class="text-center">Current Amount</th>
        <th scope="col" class="text-center">Debtor's name</th>
        <th scope="col" class="text-center">Description</th>
      </tr>
    </thead>
    <tbody id="js-tbl-credits" class="table-group-divider">
    {% for c in creditLines %}
      <tr>
        <td scope="col" class="text-center">{{loop.index}}</td>
        <td scope="col" class="text-center">{{c.category}}</td>
        <td scope="col" class="text-center js-credit-date">{{c.date}}</td>
        <td scope="col" class="text-center js-credit-amount">{{c.iamount}}</td>
        <td scope="col" class="text-center js-credit-amount">{{c.camount}}</td>
        <td scope="col" class="text-center">{{c.debtor}}</td>
        <td scope="col" class="text-center">{{c.description}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <script src="/javascripts/newcredits.js"></script>
{% endblock %}