{% extends 'layout.njk' %}

{% block content %}
  
  <h2>Register payments received</h2>
  <form class="row g-3" method="post" action="/paymentreceived"> 
    <div class="col-md-4">
      <label for="inputCreditID" class="form-label">Credit ID</label>
      <select id="inputCreditID" name="inputCreditID" class="form-select">
        <option selected></option>
        {% for c in creditLines %}
          <option>{{c.creditId}}</option>
        {% endfor %}
      </select>
    </div>
    {# <div class="col-md-4">
      <label for="inputDateCreated" class="form-label">Date created</label>
      <select id="inputDateCreated" name="inputDateCreated" class="form-select" required>
        <option selected></option>
        {% for l in lines %}
          <option>{{l.date}}</option>
        {% endfor %}
      </select>
    </div> #}
    {# <div class="col-md-4">
      <label for="inputInitialAmount" class="form-label">Initial amount</label>
      <select id="inputInitialAmount" name="inputInitialAmount" class="form-select" required>
        <option selected></option>
        {% for l in lines %}
          <option>{{l.amount}}</option>
        {% endfor %}
      </select>
    </div> #}
    <div class="col-md-4">
      <label for="inputPaymentDate" class="form-label">Date</label>
      <input type="date" class="form-control" id="inputPaymentDate" name="inputPaymentDate" required>
    </div>
    <div class="col-md-4">
      <label for="inputPayment" class="form-label">Payment</label>
      <input type="number" min="0.00" step="0.01" class="form-control" id="inputPayment" name="inputPayment" required>
    </div>
    <div class="col-md-12">
      <label for="inputDescription" class="form-label">Description</label>
      <input type="text" class="form-control" id="inputDescription" name="inputDescription">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success">Register</button>
    </div>
  </form>

  <h5 style="margin-top: 2em; margin-bottom: 1em;">Credits table (reference for credit id)</h5>

  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Credit ID</th>
        <th scope="col" class="text-center">Category</th>
        <th scope="col" class="text-center">Date</th>
        <th scope="col" class="text-center">Initial Amount</th>
        <th scope="col" class="text-center">Current Amount</th>
        <th scope="col" class="text-center">Debtor's name</th>
        <th scope="col" class="text-center">Description</th>
      </tr>
    </thead>
    <tbody id="js-tbl-credits" class="table-group-divider">
    {% for c in creditLines %}
      <tr>
        <td scope="col" class="text-center">{{loop.index}}</td>
        <td scope="col" class="text-center">{{c.creditId}}</td>
        <td scope="col" class="text-center">{{c.category}}</td>
        <td scope="col" class="text-center js-credit-date">{{c.date}}</td>
        <td scope="col" class="text-center js-credit-amount">{{c.iamount}}</td>
        <td scope="col" class="text-center js-credit-amount">{{c.camount}}</td>
        <td scope="col" class="text-center">{{c.debtor}}</td>
        <td scope="col" class="text-center">{{c.description}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <script src="/javascripts/paymentreceived.js"></script>
{% endblock %}